<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URLS</title>
</head>

<body>
    <h1>URLs</h1>
    <form action="/result" method="POST">
        <label for="urls">List of URLs</label>
        <textarea name="urls" id="urls" cols="50" rows="10" style="width: 683px; height: 107px;"></textarea><br>
        <input type="submit" value="Send">
    </form>
</body>

</html>
